---
import MovieCardAward from "@/components/MovieCardAward.astro";
import Layout from "@/layouts/Layout.astro";
import {
  getAwardList,
  getAwardName,
  getMovieBySlug,
  getMovieList,
} from "@/utils/getData";

export async function getStaticPaths() {
  const awardList = getAwardList();
  return ["2021", "2022"]
    .map((awardYear) => {
      return awardList.map((award) => {
        return { params: { awardShortName: award, awardYear } };
      });
    })
    .flatMap((x) => x);
}

const { awardShortName, awardYear } = Astro.params;
const movieList = getMovieList(awardYear);

const indicatedMovies = movieList
  .filter((slug) => {
    return (
      getMovieBySlug(slug, awardYear).awards.filter(
        (award) => award.shortName == awardShortName
      ).length > 0
    );
  })
  .sort((a, b) => {
    return getMovieBySlug(a, awardYear).localTitle >
      getMovieBySlug(b, awardYear).localTitle
      ? 1
      : -1;
  });
---

<Layout title={getAwardName(awardShortName)}>
  <h1>{getAwardName(awardShortName)}</h1>
  <div class="cards">
    {
      indicatedMovies.map((movie) => {
        return (
          <MovieCardAward
            slug={movie}
            currentAward={awardShortName}
            awardYear={awardYear}
          />
        );
      })
    }
  </div>
  <nav aria-label="breadcrumb">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href={`/${awardYear}`}>Oscar {awardYear}</a></li>
      <li>{getAwardName(awardShortName)}</li>
    </ul>
  </nav>
</Layout>

<style>
  h1 {
    text-align: center;
  }
</style>
