---
import Layout from "@/layouts/Layout.astro";
import {
  getAwardList,
  getAwardName,
  getMovieBySlug,
  getMovieList,
} from "@/utils/getData";
import MovieCardAward from "@/components/MovieCardAward.astro";

export async function getStaticPaths() {
  return [{ params: { awardYear: "2022" } }, { params: { awardYear: "2021" } }];
}

const { awardYear } = Astro.params;
const awardList = getAwardList();
const movies = getMovieList(awardYear).sort((a, b) => {
  return (
    getMovieBySlug(b, awardYear).awards.length -
    getMovieBySlug(a, awardYear).awards.length
  );
});
---

<Layout title="Categorias Oscar 2022">
  <h1>Oscar {awardYear}</h1>
  <nav aria-label="breadcrumb">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href={`/${awardYear}`}>Oscar {awardYear}</a></li>
    </ul>
  </nav>
  <ul class="award-list">
    {
      awardList.map((award) => {
        return (
          <li>
            <a href={`/${awardYear}/${award}`}>{getAwardName(award)}</a>
          </li>
        );
      })
    }
  </ul>
  <div class="cards">
    {
      movies.map((movie) => {
        return (
          <MovieCardAward slug={movie} currentAward="" awardYear={awardYear} />
        );
      })
    }
  </div>
</Layout>

<style lang="scss">
  .award-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    font-size: 0.8rem;
    gap: 0.2rem 0.4rem;
    justify-content: center;

    & > li {
      list-style-type: none;
      border: 1px solid #1095c1;
      border-radius: 0.2rem;
      padding: 0.2rem 0.4rem;
    }
  }

  h1 {
    text-align: center;
  }
</style>
