---
import { getMovieBySlug } from "@/utils/getData";
import AwardList from "./AwardList.astro";
import CastList from "./CastList.astro";
import ImdbLink from "./ImdbLink.astro";
import type { Movie } from "@/types";

export interface Props {
  slug: string;
  currentAward: string;
  awardYear: string;
}

const { slug, currentAward, awardYear } = Astro.props;

const movie: Movie = getMovieBySlug(slug, awardYear);

const hasTranslatedName =
  movie.title.toLowerCase() != movie.localTitle.toLowerCase() ? true : false;

const awardInfo = movie.awards.filter(
  (award) => award.shortName == currentAward
);
const otherAwards = movie.awards.filter(
  (award) => award.shortName != currentAward
);

const title = (function () {
  if (awardInfo[0]?.nominee) {
    return awardInfo.map((award) => award.nominee).join(", ");
  } else {
    return movie.localTitle;
  }
})();
---

<div class="card">
  <div class="poster">
    <ImdbLink id={movie.imdbID}>
      <img src={movie.poster} />
    </ImdbLink>
  </div>

  <div class="info">
    <div>
      <h2 class="title">
        {
          awardInfo[0]?.nominee ? (
            <span>{title}</span>
          ) : (
            <ImdbLink id={movie.imdbID}>{title}</ImdbLink>
          )
        }
      </h2>
      <p>
        {
          (awardInfo[0]?.nominee && (
            <span class="small-title">
              <ImdbLink id={movie.imdbID}>{movie.localTitle}</ImdbLink>
            </span>
          )) ||
            (hasTranslatedName && (
              <span class="original-title">{movie.title}</span>
            ))
        }
      </p>
      {
        currentAward != "direcao" && (
          <p class="credits">
            <CastList castArray={movie.directors} />
          </p>
        )
      }
      <p class="tags">
        <span>{movie.runtimeMin} min</span>{
          movie.genres.map((genre) => <span>{genre}</span>)
        }
      </p>
    </div>
    <p class="credits">
      <CastList castArray={movie.actors} />
    </p>
    <div class="indications">
      {otherAwards.length && currentAward ? <p>Outras indicações:</p> : ""}
      <AwardList awardList={otherAwards} oscarYear={movie.oscarYear} />
    </div>
  </div>
</div>

<style lang="scss">
  .original-title {
    font-style: italic;
    font-size: 0.8rem;
  }

  .card {
    margin: calc(var(--spacing) * 2) 0;
    padding: calc(var(--spacing) * 2) var(--block-spacing-horizontal);
    border-radius: var(--border-radius);
    background: var(--card-background-color);
    box-shadow: var(--card-box-shadow);

    display: flex;
    justify-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--block-spacing-horizontal);
    gap-row: var(--block-spacing-vertical);
    //   @media (min-width: 992px) {
    //     & {
    //       flex-direction: row;
    //     }
    //   }
  }

  .credits {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .poster {
    flex: 0 1 300px;
  }

  .indications {
  }

  .info {
    flex: 1 1 560px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: info;
  }

  .title {
    --typography-spacing-vertical: 0;
  }

  .card {
    --typography-spacing-vertical: 0.2rem;
  }

  .tags span {
    border-radius: 0.2rem;
    padding: 0.1rem 0.2rem;
    font-size: 0.6rem;
    border: 1px solid currentColor;
    margin-right: 0.5rem;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
  }
</style>
